@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  --transition-animation-origin-x: -20;
  --transition-animation-origin-y: -20;
}

@view-transition {
  navigation: auto;
}

@keyframes sidebar-slide-in {
  0% {
    left: -34vw;
  }
  
  100% {
    left: 0vw;
  }
}

@keyframes sidebar-slide-out {
  0% {
    left: 0vw;
  }
  
  100% {
    left: -34vw;
  }
}

@keyframes wipeout {
  0% {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  100% {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
  }
}

@keyframes slide-in-left {
  0% {
    translate: -50px;
    opacity: 0;
  }
  
  100% {
    translate: none;
    opacity: 1;
  }
}

@keyframes rotate-responses {
  0% {
    rotate: -4deg;
  }

  100% {
    rotate: var(--rotate-angle);
  }
}

@keyframes delayed-fade-in {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes transition-animation-out {
  0% {
    position: fixed;
    background-color: black;
    left: calc(0vw - 0.5 * max(200vw, 200vh));
    top: calc(0vh - 0.5 * max(200vw, 200vh));
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
    transform: none;
  }
  
  100% {
    position: fixed;
    background-color: black;
    left: calc(0vw - 0.5 * max(200vw, 200vh));
    top: calc(0vh - 0.5 * max(200vw, 200vh));
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
    transform: matrix3d(-0.000707,-0.000707,0,0.000001,0.000707,-0.000707,0,0,0,0,1,0,var(--transition-animation-origin-x),var(--transition-animation-origin-y),0,1);
  }
}

@keyframes transition-animation {
  0% {
    position: fixed;
    background-color: black;
    left: calc(0vw - 0.5 * max(200vw, 200vh));
    top: calc(0vh - 0.5 * max(200vw, 200vh));
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
    transform: matrix3d(-0.000707,-0.000707,0,0.000001,0.000707,-0.000707,0,0,0,0,1,0,var(--transition-animation-origin-x),var(--transition-animation-origin-y),0,1);
  }
  
  100% {
    position: fixed;
    background-color: black;
    left: calc(0vw - 0.5 * max(200vw, 200vh));
    top: calc(0vh - 0.5 * max(200vw, 200vh));
    width: max(200vw, 200vh);
    height: max(200vw, 200vh);
    transform: none;
  }
}

@keyframes swing-in {
  0% {
    position: fixed;
    right: -60vw;
    transform: matrix3d(1,0,0,-0.0005,0,1,0,0,0,0,1,0,0,0,0,1);
    top: calc(50vh - 15rem);
    width: min(60vw, 30rem);
    height: 30rem;
  }

  100% {
    position: fixed;
    right: 7vw;
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    top: calc(50vh - 15rem);
    width: min(60vw, 30rem);
    height: 30rem;
  }
}

@keyframes swing-out {
  0% {
    position: fixed;
    right: 7vw;
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    top: calc(50vh - 15rem);
    width: min(60vw, 30rem);
    height: 30rem;
  }

  100% {
    position: fixed;
    right: -60vw;
    transform: matrix3d(1,0,0,-0.0005,0,1,0,0,0,0,1,0,0,0,0,1);
    top: calc(50vh - 15rem);
    width: min(60vw, 30rem);
    height: 30rem;
  }
}

@keyframes sidebar-item-bounce-out {
  0% {
    left: -1.25rem;
  }

  80% {
    left: 0.25rem;
  }

  100% {
    left: 0rem;
  }
}

@keyframes sidebar-bookmark-bounce-out {
  0% {
    bottom: 110%;
    scale: 1 1;
  }

  50% {
    bottom: 50%;
    scale: 1 1.5;
  }

  100% {
    bottom: 50%;
    scale: 1 1;
  }
}

@layer components {
  .selector-prev {
    transform: matrix3d(1.3,-0.06,-0.342,-0.002,-0.06,1.3,-0.342,0,0.342,0.342,0.94,0,0,0,0,1);
  }

  .selector-current {
    transform: matrix3d(1.4,0,0.00,-0.002,0.00,1.3,0.00,0,0,0,1,0,5,0,0,1);
    margin: 30px 0;
  }

  .selector-next {
    transform: matrix3d(1.3,0.06,0.342,-0.002,0.06,1.3,-0.342,0,-0.342,0.342,0.94,0,0,0,0,1);
  }

  .inner-box {
    opacity: 0;
    background-image: url('/test-image.jpg');
    background-size: cover;
    background-position: 50% 50%;
  }

  .outer-box {
    opacity: 0;
    backdrop-filter: invert(100%);
  }

  .selector-current .inner-box {
    opacity: 1;
    transform: matrix3d(0.94,-0.342,0,-0.002,0.342,0.94,0,0,0,0,1,0,-10,0,0,1);
  }

  .selector-current .outer-box {
    opacity: 1;
    transform: matrix3d(0.94,-0.342,0,-0.002,0.342,0.94,0,0,0,0,1,0,-10,0,0,1);
  }

  .menu-closed {
    transform: matrix3d(-0.1,0,0,0,0,-0.1,0,0,0,0,1,0,0,0,0,1);
    opacity: 0;
  }

  .shadow-center {
    box-shadow: 0 0 10px -5px;
  }

  .bounce-timing {
    transition-timing-function: cubic-bezier(.21,1.47,.7,.95);
  }

  .bookmark {
    mask: conic-gradient(from -45deg at bottom, #0000, #000 0deg 90deg, #0000 90deg) 1rem / 110% 110%;
  }

  .submenu-item:hover .submenu-outline,
  .active-submenu .submenu-outline {
    transform: matrix3d(1.3,0.045,0,-0.001,-0.045,1.29,0,0.002,0,0,1,0,-6,0,0,1);
  }

  .submenu-item .submenu-background {
    opacity: 0;
  }

  .submenu-item:hover .submenu-background,
  .active-submenu .submenu-background {
    opacity: 100;
  }
  
  .sidebar {
    view-transition-name: sidebar;
  }

  .no-view-transition {
    view-transition-name: none;
  }

  .subMenu {
    view-transition-name: sub-menu;
  }

  .blogid {
    view-transition-name: blogid;
  }

  .paper {
    view-transition-name: paper;
  }

  .blog-content {
    view-transition-name: blog-content;
  }

  .background-image {
    view-transition-name: background-image;
  }

  .speech-bubble {
    view-transition-name: speech-bubble;
  }

  .dialog-portrait {
    view-transition-name: dialog-portrait;
  }

  .contact {
    view-transition-name: contact;
  }

  .submenu-indicator {
    view-transition-name: submenu-indicator;
  }

  ::view-transition-old(root) {
    display: none;
  }

  ::view-transition-new(root) {
    animation: none;
  }

  ::view-transition-old(blog-content) {
    opacity: 1 !important;
  }

  ::view-transition-new(dialog-portrait):only-child {
    animation: 500ms slide-in-left;
  }

  ::view-transition-old(speech-bubble) {
    display: none;
  }

  ::view-transition-new(speech-bubble) {
    animation: none;
  }

  ::view-transition-group(contact) {
    animation: none;
    transform: none;
  }

  ::view-transition-new(contact):only-child {
    animation: 1s swing-in;
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  }

  ::view-transition-old(contact):only-child {
    animation: 1s swing-out;
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
  }

  ::view-transition-new(sidebar):only-child {
    animation: 500ms ease-out sidebar-slide-in;
  }

  ::view-transition-new(sidebar) {
    opacity: 1 !important;
  }

  ::view-transition-old(sidebar) {
    display: none;
  }

  ::view-transition-old(sidebar):only-child {
    display: block;
    left: -34vw;
    animation: 500ms ease-in sidebar-slide-out;
  }

  ::view-transition-group(submenu-indicator) {
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
  }
}